Repository jrodriguez2076/invoicing-upload-form, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LinioIT/relationship-management, @LinioIT/DevOps, @nesl247

.github/CODEOWNERS:

* @LinioIT/relationship-management
/.env.dist @LinioIT/DevOps @nesl247
/.dockerignore @LinioIT/DevOps @nesl247
/docker/ @LinioIT/DevOps @nesl247
/docker-compose* @LinioIT/DevOps @nesl247
/config/deploy @LinioIT/DevOps @nesl247
/Jenkinsfile @LinioIT/DevOps @nesl247
/Rakefile @LinioIT/DevOps @nesl247

deploy: fix parameters accross environments
  config/deploy/partials/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

Changed texts, captions, and required values for the forms.
  config/deploy/development/parameters.yaml
  config/deploy/staging/parameters.yaml
Owners: @LinioIT/DevOps, @nesl247

Reverted the LOG_PATH for development and staging, and added the %kernel.environment% in the .env.dist file
  .env.dist
  config/deploy/development/parameters.yaml
  config/deploy/staging/parameters.yaml
  config/packages/dev/monolog.yaml
  config/packages/prod/monolog.yaml
  config/packages/test/monolog.yaml
Owners: @LinioIT/DevOps, @nesl247, @LinioIT/relationship-management

Added the .log extension to LOG_PATH in the .env.dist file
  .env.dist
  config/packages/dev/monolog.yaml
  config/packages/prod/monolog.yaml
  config/packages/test/monolog.yaml
Owners: @LinioIT/DevOps, @nesl247, @LinioIT/relationship-management

ci: push php:latest
  Jenkinsfile
Owners: @LinioIT/DevOps, @nesl247

ci: change deploy:tools to deploy:latest
  Jenkinsfile
Owners: @LinioIT/DevOps, @nesl247

chore: use docker-node
  Jenkinsfile
  docker-compose.cli.yml
  docker/node/Dockerfile
Owners: @LinioIT/DevOps, @nesl247

Added thousand separator for potential_catalog and marketing_invest.
  config/parameters.yaml
Owners: @LinioIT/relationship-management

Added warehouseReferencePoint to the forms.
  src/Adapter/PrmAdapter.php
  src/Entity/Account.php
  src/Entity/Store/pe/Account.php
  src/Form/Store/ar/AccountType.php
  src/Form/Store/cl/AccountType.php
  src/Form/Store/co/AccountType.php
  src/Form/Store/ec/AccountType.php
  src/Form/Store/mx/AccountType.php
  src/Form/Store/pe/AccountType.php
  templates/sellerSignUp.html.twig
  translations/messages.es.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

Updated env.dist with development values.
  .env.dist
Owners: @LinioIT/DevOps, @nesl247

Added the property type.
  src/Entity/Account.php
Owners: @LinioIT/relationship-management

chore: upgrade docker-nginx
  docker/nginx/Dockerfile
Owners: @LinioIT/DevOps, @nesl247

chore: remove duplicated entrypoint
  docker/nginx/Dockerfile
  docker/nginx/linio-nginx-entrypoint
Owners: @LinioIT/DevOps, @nesl247

chore: upgrade docker-nginx
  docker/nginx/Dockerfile
Owners: @LinioIT/DevOps, @nesl247

chore: upgrade docker-php
  docker/php/Dockerfile
Owners: @LinioIT/DevOps, @nesl247

chore: fix Dockerfile for scripted docker-php upgrade
  docker/php/Dockerfile
Owners: @LinioIT/DevOps, @nesl247

[PRM-103] Added Slim Form for International Hunters.
  config/parameters.yaml
  src/Controller/SellerSignUpController.php
  src/Form/FormTemplateFactory.php
  src/Form/SellerSignUpFormFactory.php
  src/Form/Store/international/AccountSlimType.php
  src/Form/Store/international/ContactSlimType.php
  src/Form/Store/international/OpportunitySlimType.php
  src/Form/Store/international/SellerSignUpSlimForm.php
  templates/sellerSignUpSlim.html.twig
Owners: @LinioIT/relationship-management

[PRM-106] Added source field for opportunities.
  src/Adapter/PrmAdapter.php
  src/Entity/Opportunity.php
Owners: @LinioIT/relationship-management

[PRM-106] Added source field for account and removed from opportunities.
  src/Adapter/PrmAdapter.php
  src/Entity/Account.php
  src/Entity/Opportunity.php
  src/Service/PrmService.php
Owners: @LinioIT/relationship-management

[PRM-108] Added slim form for local countries.
  src/Form/FormTemplateFactory.php
  src/Form/OpportunitySlimType.php
  src/Form/SellerSignUpFormFactory.php
  src/Form/Store/ar/SellerSignUpSlimForm.php
  src/Form/Store/cl/SellerSignUpSlimForm.php
  src/Form/Store/co/SellerSignUpSlimForm.php
  src/Form/Store/ec/SellerSignUpSlimForm.php
  src/Form/Store/mx/SellerSignUpSlimForm.php
  src/Form/Store/pe/SellerSignUpSlimForm.php
  templates/sellerSignUpSlim.html.twig
Owners: @LinioIT/relationship-management

ci: optimize echos
  Jenkinsfile
Owners: @LinioIT/DevOps, @nesl247

chore: support separate clusters for kubernetes
  config/deploy/partials/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

chore: remove namespace from deploy
  config/deploy/partials/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

feat: use k8s ingress controller
  config/deploy/partials/web.yaml.erb
  docker-compose.override.yml.dist
  docker/nginx/conf.d/application.template
Owners: @LinioIT/DevOps, @nesl247

chore: fix casing for elb_certificate_arn
  config/deploy/development/web.yaml.erb
  config/deploy/production/web.yaml.erb
  config/deploy/staging/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

fix: removed namespace declaration in the ingress
  config/deploy/partials/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

Corrected the form source for PRM.
  src/Entity/Account.php
Owners: @LinioIT/relationship-management

chore: add pod selector to service
  config/deploy/partials/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

[PRM-115] Added constraint to opportunity countries to require at least one for request.
  composer.json
  composer.lock
  config/packages/validator.yaml
  src/Form/FormTemplateFactory.php
  src/Form/Store/international/OpportunitySlimType.php
  src/Form/Store/international/OpportunityType.php
  symfony.lock
  templates/sellerSignUpInternationalSlim.html.twig
Owners: @LinioIT/relationship-management

[PRM-116] Changed value international to intl that is the defined in PRM.
  config/parameters.yaml
  config/routes.yaml
  src/Form/Store/international/SellerSignUpForm.php
  src/Form/Store/international/SellerSignUpSlimForm.php
Owners: @LinioIT/relationship-management

[PRM-121] Removed extra field that is not needed anymore.
  src/Entity/Account.php
  src/Form/Store/pe/AccountType.php
  templates/sellerSignUp.html.twig
  templates/sellerSignUpSlim.html.twig
Owners: @LinioIT/relationship-management

[PRM-122] Changes in the PE fields and added terms and conditions.
  src/Entity/Store/pe/Account.php
  src/Form/Store/pe/AccountType.php
  templates/sellerSignUp.html.twig
  templates/sellerSignUpSlim.html.twig
  translations/messages.es.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

chore: change elb_certificate_arn to aliases
  config/deploy/development/web.yaml.erb
  config/deploy/production/web.yaml.erb
  config/deploy/staging/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

chore: configure healthcheck path
  config/deploy/partials/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

Added healthcheck endpoint.
  config/routes.yaml
  src/Controller/SellerSignUpController.php
Owners: @LinioIT/relationship-management

chore: fix elb_certificate
  config/deploy/development/web.yaml.erb
  config/deploy/partials/web.yaml.erb
  config/deploy/production/web.yaml.erb
  config/deploy/staging/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

Fixed cs
  src/Entity/Contact.php
  src/Form/GeneralInfoType.php
  translations/messages.es_MX.yaml
Owners: @LinioIT/relationship-management

Removed unnecessary parameters.
  src/Service/ContactService.php
Owners: @LinioIT/relationship-management

Added connection to PRM api to fill reasons field choices.
  src/Adapter/PrmAdapter.php
  src/Controller/ContactController.php
  src/Form/GeneralInfoType.php
  src/Form/Store/ar/ContactForm.php
  src/Form/Store/cl/ContactForm.php
  src/Form/Store/co/ContactForm.php
  src/Form/Store/ec/ContactForm.php
  src/Form/Store/mx/ContactForm.php
  src/Form/Store/pe/ContactForm.php
Owners: @LinioIT/relationship-management

Fixed coding style
  src/Adapter/PrmAdapter.php
  src/Entity/Contact.php
  src/Form/GeneralInfoType.php
  translations/messages.es_MX.yaml
Owners: @LinioIT/relationship-management
