Repository jrodriguez2076/invoicing-upload-form, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LinioIT/relationship-management, @LinioIT/DevOps, @nesl247

.github/CODEOWNERS:

* @LinioIT/relationship-management
/.env.dist @LinioIT/DevOps @nesl247
/.dockerignore @LinioIT/DevOps @nesl247
/docker/ @LinioIT/DevOps @nesl247
/docker-compose* @LinioIT/DevOps @nesl247
/config/deploy @LinioIT/DevOps @nesl247
/Jenkinsfile @LinioIT/DevOps @nesl247
/Rakefile @LinioIT/DevOps @nesl247

Fixed coding style.
  src/Entity/Contact.php
  src/Form/GeneralInfoType.php
  translations/messages.es_MX.yaml
Owners: @LinioIT/relationship-management

Improve way to organize reason array
  src/Adapter/PrmAdapter.php
Owners: @LinioIT/relationship-management

Fix exception handling definition
  src/Adapter/PrmAdapter.php
Owners: @LinioIT/relationship-management

Add dynamic form fields rendering by reason selection
  public/css/main.css
  public/js/show-error-fields.js
  public/js/toggle-fields.js
  src/Adapter/PrmAdapter.php
  src/Controller/ContactController.php
  src/Entity/Contact.php
  src/Entity/GeneralInfo.php
  src/Event/Subscriber/LocaleSubscriber.php
  src/Form/ContactFormFactory.php
  src/Form/GeneralInfoType.php
  src/Form/Store/ar/AdditionalInfoType.php
  src/Form/Store/ar/ContactForm.php
  src/Form/Store/cl/AdditionalInfoType.php
  src/Form/Store/cl/ContactForm.php
  src/Form/Store/co/AdditionalInfoType.php
  src/Form/Store/co/ContactForm.php
  src/Form/Store/ec/ContactForm.php
  src/Form/Store/mx/AdditionalInfoType.php
  src/Form/Store/mx/ContactForm.php
  src/Form/Store/pe/AdditionalInfoType.php
  src/Form/Store/pe/ContactForm.php
  src/Service/ContactService.php
  templates/base.html.twig
  templates/contact.html.twig
  translations/messages.en.yaml
  translations/messages.es.yaml
  translations/messages.es_AR.yaml
  translations/messages.es_CL.yaml
  translations/messages.es_CO.yaml
  translations/messages.es_EC.yaml
  translations/messages.es_MX.yaml
  translations/messages.es_PA.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

feat: configure kubernetes
  config/deploy/development/parameters.yaml
  config/deploy/development/web.yaml.erb
  config/deploy/partials/web.yaml.erb
  config/deploy/production/secrets.ejson
  config/deploy/production/web.yaml.erb
  config/deploy/staging/parameters.yaml
  config/deploy/staging/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

Fix the docker ports for the corresponding to the psc-form project.
  docker-compose.override.yml.dist
  docker/php/php.ini
Owners: @LinioIT/DevOps, @nesl247

Moved form choices to configuration file.
  config/parameters.yaml
  src/Form/Store/ar/AdditionalInfoType.php
  src/Form/Store/cl/AdditionalInfoType.php
  src/Form/Store/co/AdditionalInfoType.php
  src/Form/Store/mx/AdditionalInfoType.php
  src/Form/Store/pe/AdditionalInfoType.php
  src/Service/ParameterService.php
Owners: @LinioIT/relationship-management

Moved style for form title to css file.
  public/css/main.css
Owners: @LinioIT/relationship-management

Organized translations by linio standards and fixed coding style.
  src/Form/Store/ar/AdditionalInfoType.php
  src/Form/Store/cl/AdditionalInfoType.php
  src/Form/Store/co/AdditionalInfoType.php
  src/Form/Store/mx/AdditionalInfoType.php
  src/Form/Store/pe/AdditionalInfoType.php
  templates/base.html.twig
  templates/contact.html.twig
  translations/messages.en.yaml
  translations/messages.es.yaml
  translations/messages.es_AR.yaml
  translations/messages.es_CL.yaml
  translations/messages.es_CO.yaml
  translations/messages.es_MX.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

Update templates/base.html.twig
  templates/base.html.twig
Owners: @LinioIT/relationship-management

build: update sensiolabs/security-checker
  composer.json
  composer.lock
Owners: @LinioIT/relationship-management

feat: add component:webserver kubernetes label
  config/deploy/partials/web.yaml.erb
Owners: @LinioIT/DevOps, @nesl247

Added Sentry configuration for PSC-Form
  .env.dist
  Jenkinsfile
  composer.json
  composer.lock
  config/bundles.php
  config/deploy/development/parameters.yaml
  config/deploy/partials/web.yaml.erb
  config/deploy/production/secrets.ejson
  config/deploy/staging/parameters.yaml
  symfony.lock
Owners: @LinioIT/DevOps, @nesl247, @LinioIT/relationship-management

Added missing file.
  config/packages/sentry.yaml
Owners: @LinioIT/relationship-management

Added case creation feature upon form submit.
  config/parameters.yaml
  src/Adapter/PrmAdapter.php
  src/Controller/ContactController.php
  src/Service/ParameterService.php
  src/Service/PrmService.php
  translations/messages.en.yaml
  translations/messages.es.yaml
Owners: @LinioIT/relationship-management

ci: Reflect changes done in api-skeleton
  Jenkinsfile
Owners: @LinioIT/DevOps, @nesl247

chore: configure mergeable
  .github/mergeable.yml
Owners: @LinioIT/relationship-management

chore: use global composer/yarn docker volumes for cache
  docker-compose.cli.yml
Owners: @LinioIT/DevOps, @nesl247

fix: add minified css and js files
  public/theme/theme.min.css
  public/theme/theme.min.js
Owners: @LinioIT/relationship-management

style: fixed coding style with yarn lint
  public/.DS_Store
  public/js/initialize-file-inputs.js
  public/js/show-error-fields.js
  public/js/toggle-fields.js
  public/theme/theme.min.css
  public/theme/theme.min.js
Owners: @LinioIT/relationship-management

feat: add attachment fields
  public/css/main.css
  public/js/initialize-file-inputs.js
  public/js/show-error-fields.js
  public/js/toggle-fields.js
  public/theme/theme.min.css
  public/theme/theme.min.js
  src/Adapter/PrmAdapter.php
  src/Form/Store/ar/AdditionalInfoType.php
  src/Form/Store/cl/AdditionalInfoType.php
  src/Form/Store/co/AdditionalInfoType.php
  src/Form/Store/mx/AdditionalInfoType.php
  src/Form/Store/pe/AdditionalInfoType.php
  templates/base.html.twig
  templates/contact.html.twig
  templates/form/formTemplate.html.twig
  translations/messages.en.yaml
  translations/messages.es.yaml
  translations/messages.es_AR.yaml
  translations/messages.es_CL.yaml
  translations/messages.es_CO.yaml
  translations/messages.es_MX.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

perf: change theme inclusion
  public/.DS_Store
  public/theme/theme.min.css
  public/theme/theme.min.js
  templates/base.html.twig
Owners: @LinioIT/relationship-management

style: fix coding style with yarn
  .github/mergeable.yml
Owners: @LinioIT/relationship-management

style: add new lines and fix name issues
  public/js/initialize-file-inputs.js
  public/js/toggle-fields.js
  src/Adapter/PrmAdapter.php
  translations/messages.es.yaml
  translations/messages.es_AR.yaml
  translations/messages.es_CL.yaml
  translations/messages.es_CO.yaml
  translations/messages.es_MX.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

feat: add condition to reason field to be shown and required depending on reason selected
  public/js/show-error-fields.js
  public/js/toggle-fields.js
  src/Adapter/PrmAdapter.php
  src/Form/Store/ar/AdditionalInfoType.php
  src/Form/Store/ar/ContactForm.php
  src/Form/Store/cl/AdditionalInfoType.php
  src/Form/Store/cl/ContactForm.php
  src/Form/Store/co/ContactForm.php
  src/Form/Store/mx/AdditionalInfoType.php
  src/Form/Store/mx/ContactForm.php
  src/Form/Store/pe/AdditionalInfoType.php
  src/Form/Store/pe/ContactForm.php
Owners: @LinioIT/relationship-management

feat: add client_max_body_size to nginx configuration
  docker/nginx-proxy.conf
  docker/nginx/conf.d/application.template
Owners: @LinioIT/DevOps, @nesl247

feat: update submission message for all stores
  translations/messages.es.yaml
  translations/messages.es_AR.yaml
  translations/messages.es_CL.yaml
  translations/messages.es_CO.yaml
  translations/messages.es_MX.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

feat: change field and label from account to contact name
  src/Adapter/PrmAdapter.php
  src/Form/GeneralInfoType.php
  templates/contact.html.twig
  translations/messages.en.yaml
  translations/messages.es.yaml
  translations/messages.es_AR.yaml
  translations/messages.es_CL.yaml
  translations/messages.es_CO.yaml
  translations/messages.es_MX.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

feat: send seller center id on subject field for verification
  src/Adapter/PrmAdapter.php
Owners: @LinioIT/relationship-management

feat: add seller center id help caption
  src/Form/GeneralInfoType.php
  translations/messages.en.yaml
  translations/messages.es.yaml
  translations/messages.es_AR.yaml
  translations/messages.es_CL.yaml
  translations/messages.es_CO.yaml
  translations/messages.es_MX.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

feat: add modal for processing feedback upon submission
  templates/contact.html.twig
  translations/messages.en.yaml
  translations/messages.es.yaml
Owners: @LinioIT/relationship-management

feat: add double validation for contact email field
  src/Form/GeneralInfoType.php
  translations/messages.en.yaml
  translations/messages.es.yaml
  translations/validators.en.yaml
  translations/validators.es.yaml
Owners: @LinioIT/relationship-management

fix: fix contact name title in description formatting
  src/Adapter/PrmAdapter.php
Owners: @LinioIT/relationship-management

fix: contemplate null value on reason field list
  public/js/toggle-fields.js
Owners: @LinioIT/relationship-management

feat: link to seller center opens in new tab
  translations/messages.en.yaml
  translations/messages.es.yaml
  translations/messages.es_AR.yaml
  translations/messages.es_CL.yaml
  translations/messages.es_CO.yaml
  translations/messages.es_MX.yaml
  translations/messages.es_PE.yaml
Owners: @LinioIT/relationship-management

fix: remove duplicate field information sent to prm
  src/Adapter/PrmAdapter.php
Owners: @LinioIT/relationship-management

fix: contemplates category reasons without dependant reason field mandatory
  src/Adapter/PrmAdapter.php
Owners: @LinioIT/relationship-management

feat: add new additional info field for registered email on linio
  src/Form/Store/ar/AdditionalInfoType.php
  src/Form/Store/cl/AdditionalInfoType.php
  src/Form/Store/co/AdditionalInfoType.php
  src/Form/Store/mx/AdditionalInfoType.php
  src/Form/Store/pe/AdditionalInfoType.php
  templates/contact.html.twig
  translations/messages.es.yaml
Owners: @LinioIT/relationship-management

fix: contemplates non existent mapped dependant fields
  src/Adapter/PrmAdapter.php
  src/Form/Store/ar/ContactForm.php
  src/Form/Store/cl/ContactForm.php
  src/Form/Store/co/ContactForm.php
  src/Form/Store/mx/ContactForm.php
  src/Form/Store/pe/ContactForm.php
Owners: @LinioIT/relationship-management

fix: change text field to email field
  src/Form/Store/ar/AdditionalInfoType.php
  src/Form/Store/cl/AdditionalInfoType.php
  src/Form/Store/co/AdditionalInfoType.php
  src/Form/Store/mx/AdditionalInfoType.php
  src/Form/Store/pe/AdditionalInfoType.php
Owners: @LinioIT/relationship-management
